<%-include('./common/header.ejs') %>



<% if(data_index.length>0) { %>
        <div class="container-fluid px-5 my-5 pb-5" >

          <h2 class="pt-3" >Novels</h2> 
          
          
                  <div class="row ">

                  <% for(var i=0; i<data_index.length; i++){%>
                    
            <div class="col-12 col-md-4 py-2 bookcard text-center" 
                

                <center><img class="rounded" src="<%=data_index[i].fileupload %>" height="150px" width="200px" ></center>
 
                <div class="details">
                  <h5 class="title"> <%=data_index[i].bookname %> </h5>
                  <h6><%=data_index[i].authorname %></h6>

                  
                  <div class="text-danger">  Offer : <%=data_index[i].offer %> </div>

                  <span class="fw-bolder fs-6">₹ <%=data_index[i].bookprice %> </span>  <del>₹ <%=data_index[i].discount %></del>
                  <br>
                  
                   <a href="/bookdetails/<%= data_index[i]._id %>" class="text-dark">See Details</a>
                </div>
              </div>
              <% } %>

              <% } else { %>  
                No records found
              <%} %>
            
        
                       
                        
              </div>
              </div>









<%-include('./common/footer.ejs') %>